<body>
    <main>
        <section class="products">
            <h1 class="main-title">¡UPS! ALGO SALIO MAL</h1>
        </section>

        <div class="button-container">
            <a href="/" class="btn btn-secondary">Ir al inicio</a>
        </div>
    </main>
</body>

<style>
    .button-container {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 20px;
    }

    .btn {
        padding: 10px 20px;
        font-size: 34px;
        font-weight: bold;
        border: 3px solid white;
        cursor: pointer;
        border-radius: 20px;
        text-transform: uppercase;
        text-decoration: none;
    }

    .btn-secondary {
        background: #44bb87;
        color: white;
    }

    .btn-secondary:hover {
        opacity: 0.8;
        color: black;
        border: 3px solid black;
    }
</style>