<body class="bodyRegistrarse">
    <header class="headerRegistrarse">
        <a class="anclaLogo" href="/">
            <span>INICIO</span>
        </a>
    </header>
    <main id="main" class="main">
        <section class="seccionRegistrarse">
            <form id="loginForm" action="/login" method="post" onsubmit="return validateForm()">
                <h2 class="tituloRegistrarse">Iniciar Sesión</h2>
                <div>
                    <input type="email" placeholder="Email" id="email" name="email">
                </div>
                <div>
                    <input type="password" placeholder="Contraseña" id="password" name="password">
                </div>
                <div>
                    <input class="boton" type="submit" value="Iniciar Sesión">
                </div>
                <div>
                    <a class="botonGithub" href="/github">Github</a>
                    <!-- <a class="botonFacebook" href="/auth/facebook">Facebook</a>  -->
                </div>
                <div class="help">
                    <p>¿Aún no estás registrado?</p>
                    <a class="helpLink" href="/register">Registrarse</a>
                </div>
            </form>
        </section>
    </main>

</body>

<style>
    .bodyRegistrarse {
        height: 100vh;
        background: linear-gradient(to right top, #24242473, #24242473), url(../images/pages/frontPage.png);
        background-size: cover;
        background-position: center;

        .headerRegistrarse {
            color: #ffffff;
            background: rgb(35, 36, 36);
            padding: 10px;
            align-items: start;
            justify-content: center;
            height: 45px;

            .anclaLogo {
                text-decoration: none;
                color: #ffffff;
                font-weight: 700;
                margin-left: 30px;
            }

            .anclaLogo:hover {
                text-decoration: none;
                color: rgba(193, 255, 114, 0.87);
                border-bottom-style: solid;
                border-bottom-color: rgba(12, 192, 223, 0.87);
            }
        }

        .main {
            .seccionRegistrarse {
                background-color: rgb(36, 36, 36);
                width: 30%;
                margin: 0 auto;
                border-radius: 5px;
                padding: 40px 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 90vh;
                font-size: 1.2rem;

                .tituloRegistrarse {
                    font-size: 2.5rem;
                    font-weight: 700;
                    margin-bottom: 20px;
                    color: #ffffff;
                }

                form {
                    width: 100%;
                    padding: 40px;

                    input {
                        width: 100%;
                        margin-bottom: 20px;
                        height: 40px;
                        padding: 0px 20px;
                        font-size: 1.2rem;
                        border-radius: 20px;
                        border: 2px solid rgba(12, 192, 223, 0.87);
                        background-color: #333333;
                        outline: none;
                        color: rgb(255, 255, 255);
                    }

                    .boton {
                        width: 87%;
                        box-sizing: content-box;
                        background-color: rgba(12, 192, 223, 0.87);
                        border: 2px solid rgba(12, 192, 223, 0.87);
                        color: #ffffff;
                        padding: 1rem 1rem;
                        border-radius: 5px;
                        font-size: 1.5rem;
                        font-weight: 700;
                    }

                    .botonGithub {
                        width: auto;
                        box-sizing: content-box;
                        background-color: rgba(0, 0, 0, 0.87);
                        border: 2px solid rgba(0, 0, 0, 0.87);
                        color: #ffffff;
                        padding: 5px;
                        border-radius: 5px;
                        font-size: 1.5rem;
                        font-weight: 700;
                        text-decoration: none;
                    }

                    .botonGithub:hover,
                    .botonFacebook:hover,
                    .boton:hover {
                        border: 2px solid rgba(255, 255, 255, 0.87);
                    }

                    .botonFacebook {
                        width: auto;
                        box-sizing: content-box;
                        background-color: rgba(59, 89, 152, 0.87);
                        border: 2px solid rgba(59, 89, 152, 0.87);
                        color: #ffffff;
                        padding: 5px;
                        margin 5px;
                        border-radius: 5px;
                        font-size: 1.5rem;
                        font-weight: 700;
                        text-decoration: none;
                    }

                    .help {
                        padding-top: 20px;
                        font-size: 1rem;
                        text-decoration: none;
                        color: #ffffff;
                        font-weight: 700;

                        .helpLink {
                            color: #787878;

                            &:hover {
                               color: rgba(193, 255, 114, 0.87); 
                               font-weight: 700;
                            }
                        }

                    }
                    
                }
            }
        }
    }
</style>