<header>
    <div class="paragraph">
        <p>Bienvenida/o {{user.first_name}} {{user.last_name}} </p>
    </div>
    <div class="nav-container">
        <nav>
            <ul>
                <li><a href="/">MI PERFIL</a></li>
                <li><a href="/products">PRODUCTOS</a></li>
                <li><a href="/logout">CERRAR SESIÓN</a></li>
            </ul>
        </nav>
    </div>
    <div class="logo-container">
        <img src="images/pages/logo.png" alt="Logo de VerdeVital" class="logo">
    </div>
</header>
<div class="text">
    <p>ENVIOS GRATIS: 🛵 CABA $20.000 - 📦 TODO EL PAIS $50.000 Y HASTA 3 CUOTAS S/ INTERÉS 💳 - 10% PAGO EFECTIVO
        💸</p>
</div>