<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VerdeVital</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="./images/pages/icon.png">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>

<body>
    {{#unless isRegisterPage}}
    <header>
        <div class="nav-container">
            <nav>
                <ul>
                    <li><a href="/">INICIO</a></li>
                    <li><a href="/register">REGISTRARSE</a></li>
                    <li><a href="/login">INICIAR SESIÓN</a></li>
                </ul>
            </nav>
        </div>
        <div class="logo-container">
            <img src="images/pages/logo.png" alt="Logo de VerdeVital" class="logo">
        </div>
    </header>
    <div class="text">
        <p>ENVIOS GRATIS: 🛵 CABA $20.000 - 📦 TODO EL PAIS $50.000 Y HASTA 3 CUOTAS S/ INTERÉS 💳 - 10% PAGO EFECTIVO
            💸</p>
    </div>
    {{/unless}}


    {{{body}}}


    {{#unless isRegisterPage}}
    <footer>
        <p>&copy; 2024 <span style="color: rgb(193, 255, 114); font-weight: bold;">Verde</span><span
                style="color: rgb(12, 192, 223); font-weight: bold;">Vital</span>. Todos los derechos reservados.</p>
    </footer>
    {{/unless}}
</body>

</html>